/wp-2.2.tex~
/wp-2.2.toc
/wp-2.2.log
/wp-2.2.lof
/wp-2.2.lot
/wp-2.2.aux
/wp-2.2.dvi
*~
*.toc
*.aux
*.rel
*.dvi
*.pdf
*.ps
auto/*
/README.md
/sample_article.log
/sample_article.pdf
/sample_article.tex
/sample_report.log
/sample_report.pdf
/sample_report.tex
